.menu__lista{
  display: flex;
  justify-content: space-between;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .menu__lista{
    max-width: 300px;
  }
}

@media  screen and (min-width: 768px) {
  .menu{
    display: none;
  }
}