.contato__submit{
  background: #fdfdfd;
  border: none;
  width: 25%;
  border-radius: 25px;
  padding: 10px;
}

.contato__submit:hover{
  cursor: pointer;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .contato__submit{
      background: #fdfdfd;
      border: none;
      width: 100%;
      border-radius: 10px;
      padding: 10px;
  }
}