.cabecalho__conteudo{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

@media  only screen and (min-device-width: 320px) and  (max-device-width: 425px) {
  .cabecalho__conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0;
  }
}

@media  only screen and (min-width: 768px) {
  .cabecalho__conteudo{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}