.conteudo__texto--descricao{
  color: #fdfdfd;
  font-size: 20px;
  font-weight: 500;
}

@media  screen and (min-width: 425px) {
  .conteudo__texto--descricao{
    font-size: 1.25rem;
    width: 400px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
}

@media  screen and (min-width: 768px) {
  .conteudo__texto--descricao{
    font-size: 1.30rem;
    width: 600px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
}