.conteudo__texto--titulo{
  color: #fdfdfd;
  font-family: Poppins, cursive;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

@media  only screen and (min-device-width: 320px) and  (max-device-width: 425px) {
  .conteudo__texto--titulo{
    font-size: 2.875rem;
  }
}

@media  screen and (min-width: 768px) {
  .conteudo__texto--titulo{
    font-size: 4.25rem;
  }
}