@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .conteudo__texto--botao{
    width: auto;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
  }
  .conteudo__texto--botao a{
    text-decoration: none;
    background-color: transparent ;
    color: #1A1E21;
    transition: .2s all;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.6rem;
  }
}

@media  only screen and (min-device-width: 768px) {
  .conteudo__texto--botao{
    display: inline-block;
    width: 400px;
    padding: 0.9rem;
    border: none;
    border-radius: 10px;  
  }
  .conteudo__texto--botao a{
    text-decoration: none;
    background-color: transparent ;
    color: #1A1E21;
    transition: .2s all;
    cursor: pointer;
    font-size: 1.30rem;
    font-weight: 600;
    margin: 0.6rem;
  }
}
