.conteudo__texto--titulo{
  color: #fdfdfd;
  font-family: Poppins, cursive;
  font-weight: bold;
  margin-bottom: 20px;
}

@media  screen and (min-width: 0) {
  .conteudo__texto--titulo{
    font-size: 90px;
  }
}

@media  screen and (min-width: 768px) {
  .conteudo__texto--titulo{
    font-size: 120px;
  }
}