
@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .cultura__descricao{
    font-size: 1.24rem;
    line-height: 1.25rem;
    text-align: start;
    color: #fdfdfd;
  }
}

@media only screen and (min-width: 768px) {
  .cultura__descricao{
    font-size: 0.9rem;
    text-align: start;
    color: #fdfdfd;
  }
}

@media only screen and (min-width: 1024px) {
  .cultura__descricao{
    font-size: 1.2rem;
  }    
}