.cultura__botao--botao{
  display: inline-block;
  background: #A61127;
  width: auto;
  padding: 15px;
  border: none;
  border-radius: 25px;
  margin-bottom: 100px;
}
.cultura__botao--botao a{
  text-decoration: none;
  background-color: transparent ;
  color: #fdfdfd;
  transition: .2s all;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

.cultura__botao--botao:hover{
  box-shadow: 1px 1px 8px 1px #888888;
  background: #ce1631;
}