.cultura__titulo{
  font-size: 1.4375rem;
  color: #fdfdfd;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .cultura__titulo{
    font-size: 1.675rem;
    color: #fdfdfd;
    text-align: start;
  }
}

@media  screen and (min-width: 768px) {
  .cultura__titulo{
    font-size: 1.4375rem;
    color: #fdfdfd;
  }
}