.cultura__titulo{
  font-size: 1.4375rem;
  color: #fdfdfd;
}

@media  screen and (min-width: 425px) {
  .cultura__titulo{
    font-size: 1.675rem;
    color: #fdfdfd;
    text-align: start;
  }
}

@media  screen and (min-width: 768px) {
  .cultura__titulo{
    font-size: 1.4375rem;
    color: #fdfdfd;
  }
}