.cultura__botao--botao{
  display: inline-block;
  background: #A61127;
  width: 100%;
  padding: 0.9375rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.cultura__botao--botao a{
  text-decoration: none;
  background-color: transparent ;
  color: #fdfdfd;
  transition: .2s all;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

.cultura__botao--botao:hover{
  box-shadow: 1px 1px 8px 1px #888888;
  background: #ce1631;
}