.cultura__titulo{
  font-size: 1.4375rem;
  color: #fdfdfd;
}

@media  screen and (min-width: 0) {
  .cultura__titulo{
    font-size: 1.6rem;
    color: #fdfdfd;
  }
}

@media  screen and (min-width: 768px) {
  .cultura__titulo{
    font-size: 1.4375rem;
    color: #fdfdfd;
  }
}