.cabecalho{
  /* background: #A61127; */
  background: url('../img/banner-1.jpg') center center / cover no-repeat;
  display: flex;
  flex-direction: column;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait){
  .cabecalho{
    display: flex;
    justify-content: flex-start;
    height: 70vh;
  }
}

@media  screen and (min-width: 768px) {
  .cabecalho{
    height: 100vh;
    width: auto;
    justify-content: space-between;
    display: flex;
  }
}