.logo{
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .logo{
    display: none;
    max-width: 100px;
    max-height: 100px;
  }
}

@media  only screen and (min-width: 768px) {
  .logo{
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
  }
}


@media  only screen and (min-device-width: 1024px) {
  .logo{
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
  }
}