.sobre__pagina--dois--descricao{
  text-align: justify;
  font-size: 25px;
  width: auto;
  line-height: 2.25rem;
  margin: 0 auto;
}

@media  screen and (min-width: 0) {
  .sobre__pagina--dois--descricao{
    width: auto;
    font-size: 25px;
    padding: 0;
    margin-bottom: 20px;
  }
}

@media  screen and (min-width: 768px) {
  .sobre__pagina--dois--descricao{
    width: auto;
    font-size: 25px;
    padding: 0 20px;
  }
}