@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .sobre__pagina--dois--descricao{
    width: auto;
    font-size: 1.1rem;
    margin-left: 0;
    margin-bottom: 1.65rem;
  }
}

@media  screen and (min-width: 768px) {
  .sobre__pagina--dois--descricao{
    width: auto;
    font-size: 1.1rem;
    padding:0 .7rem;
    text-align: start;
    margin-left: 0;
  }
}