.titulo__assunto{
  font-size: 1.93rem;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .titulo__assunto{
    text-align: start;
    font-size: 1.3rem;
    padding: 0px;
  }
}


@media  only screen and (min-device-width: 768px){
  .titulo__assunto{
    text-align: start;
    font-size: 1.25rem;
    padding: 0 .7rem;
  }
}