.agradecimento__descricao{
  font-size: 25px;
  margin-bottom: 50px;
  width: 95%;
  text-align: justify;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .agradecimento__descricao{
    text-align: start;
    font-size: 1.35rem;
  }
}