.agradecimento__titulo{
  margin-bottom: 30px;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .agradecimento__titulo{
    text-align: center;
    font-size: 1.85rem;
  }
}

@media  only screen and (min-device-width: 768px) {
  .agradecimento__titulo{
    text-align: center;
    font-size: 2rem;
  }
}