.cabecalho__pagina--dois{
  background: url('../../img/banner-2.jpg') center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
}

@media  screen and (min-width: 0) {
  .cabecalho__pagina--dois{
    display: flex;
    justify-content: space-around;
    height: 100vh;
  }
}

@media  screen and (min-width: 768px) {
  .cabecalho__pagina--dois{
    height: 100vh;
    width: auto;
    justify-content: flex-start;
    display: flex;
  }
}
