.cabecalho__pagina--dois{
  background: url('../../img/banner-2.jpg') center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
}

@media  only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait){
  .cabecalho__pagina--dois{
    display: flex;
    justify-content: space-around;
    height: 80vh;
  }
}

@media  screen and (min-width: 768px) {
  .cabecalho__pagina--dois{
    height: 100vh;
    width: auto;
    justify-content: space-around;
    display: flex;
  }
}
