
@media only screen and (min-device-width: 320px) 
and  (max-device-width: 425px) 
and (orientation: portrait) {
  .sobre__imagem{
    max-width: 90vw;
    max-height: 300px;
    width: 100vw;
    margin: 1.25rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .sobre__imagem{
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 1024px) {
  .sobre__imagem{
    max-width: 50vw;
    max-height: 50vh;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
  }
}