.sobre__imagem{
  width: 50%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media  screen and (min-width: 0) {
  .sobre__imagem{
    max-width: 560px;
    max-height: 560px;
    width: auto;
    height: auto;
    margin-top: 20px;
    padding: 20px;
  }
}

@media  screen and (min-width: 768px) {
  .sobre__imagem{
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}